<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">This year we are scaling the whole congress up! With more than 40 expected
            speakers from various fields such as the freedom movement, cryptoanarchy, sharing economy, cryptocurrencies,
            political art, hacking and much more.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/jim-bell.png" width="300" height="300"
                                                   alt="Jim Bell" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Jim Bell</span>
            <br /> Anarchist libertarian and political dissident</p>
        </div>
        <!-- /.Speaker -->
      </div>

      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/giacomo-zucco.png" width="300"
                                                   height="300"
                                                   alt="Giacomo Zucco" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Giacomo Zucco</span>
            <br /> Theoretical Physicist and CEO of BlockchainLab</p>
        </div>
        <!-- /.Speaker -->
      </div>

      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/pamela-morgan.png" width="300" height="300"
                                                   alt="Pamela Morgan" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Pamela Morgan</span>
            <br /> Founder and CEO of Third Key Solutions, Board of C4, Attorney at Empowered Law</p>
        </div>
        <!-- /.Speaker -->
      </div>

      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/smuggler.png" width="300" height="300"
                                                   alt="Smuggler" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Smuggler</span>
            <br /> Cryptoanarchist and cypherpunk</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/frank-braun.png" width="300" height="300"
                                                   alt="Frank Braun" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Frank Braun</span>
            <br /> Cryptoanarchist and aspiring cypherpunk</p>
        </div>
        <!-- /.Speaker -->
      </div>

      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/arto-bendiken.png" width="300" height="300"
                                                   alt="Arto Bendiken" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Arto Bendiken</span>
            <br /> Hacker, maker and cypherpunk</p>
        </div>
        <!-- /.Speaker -->
      </div>

      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/radim-kozub.png" width="300" height="300"
                                                   alt="Radim Kozub" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Radim Kozub</span>
            <br /> Lawyer and co-founder of Blockchain Legal</p>
        </div>
        <!-- /.Speaker -->
      </div>

      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/pavel-urbaczka.png" width="300" height="300"
                                                   alt="Pavel Urbaczka" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Pavel Urbaczka</span>
            <br /> Lawyer and co-founder of Blockchain Legal</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>

    <div class="row">
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 col-md-offset-3 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/juraj-karpis.jpg" width="300" height="300"
                                                   alt="Juraj Karpi코" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Juraj Karpi코</span>
            <br /> Economic analyst at INESS</p>
        </div>
        <!-- /.Speaker -->
      </div>

      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)">
            <figure class="speaker accent-bg"><img src="/media/images/transparent.png"
                                                   data-lazy="/media/speakers/juraj-bednar.jpg" width="300" height="300"
                                                   alt="Juraj Bedn치r" class="img-responsive center-block" />
              <figcaption>
                <p class="text-uppercase accent">Coming soon</p>
              </figcaption>
            </figure>
          </a>
          <p><span class="speaker-accent">Juraj Bedn치r</span>
            <br /> Hacker and an entrepreneur</p>
        </div>
        <!-- /.Speaker -->
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>

{{!--
<section id="speakers">
  <div class="container">
    <!-- Title & Subtitle -->
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2 class="text-center"><span>Speakers</span></h2>
          <p class="subtitle text-center">This year we are scaling the whole congress up! With more than 40 expected speakers from various fields such as the freedom movement, cryptoanarchy, sharing economy, cryptocurrencies, political art, hacking and much more.</p>
        </div>
      </div>
    </div>
    <!-- /.Title & Subtitle -->

    {{#each speakerRows}}
    <div class="row">
      {{#each .}}
      <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0 text-center">
        <!-- Speaker -->
        <div class="speaker-item">
          <a href="javascript:void(0)" data-toggle="modal" data-target="#speaker_{{id}}">
            <figure class="speaker accent-bg"> <img src="/media/images/transparent.png" data-lazy="{{image}}" width="300" height="300" alt="{{full_public_name}}" class="img-responsive center-block" />
              {{#withFirst events}}
              <figcaption>
                <p class="text-uppercase accent">{{title}}</p>
              </figcaption>
              {{/withFirst}}
            </figure>
          </a>
          <p><span class="speaker-accent">{{full_public_name}}</span>
            <br/> {{abstract}}</p>
        </div>
        <!-- /.Speaker -->
      </div>

      <!-- Modal -->
      <div class="modal fade" id="speaker_{{id}}" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h2 class="modal-title" id="{{full_public_name}}">{{full_public_name}}</h2>
            </div>
            <div class="modal-body clearfix">
              <div class="row">
                <div class="col-xs-12 col-sm-3">
                  <img src="/media/images/transparent.png" data-lazy="{{image}}" width="200" height="200" alt="{{full_public_name}}" class="img-responsive" />
                </div>
                <div class="col-xs-12 col-sm-9">
                  <p>
                    {{description}}
                  </p>
                </div>
              </div>
              <hr>
              <div class="row">
                <div class="col-sm-12">
                  {{#forEach events}}
                    <h4>{{title}}</h4>
                    <div class="mrgn-10-btm">
                      <span class="label label-main">{{dayTime}} - {{room.name}}</span>
                    </div>
                    <p>
                      {{abstract}}
                    </p>
                    {{#unless isLast}}
                      <hr>
                    {{/unless}}
                  {{/forEach}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      {{/each}}
    </div>
    {{#eq @index 1}}
  </div>
  <div class="container container-expand">
    {{/eq}}
    {{/each}}
  <!-- /.Speakers List -->
  </div>

  <div class="container">
    <!-- Speaker CTA Button -->
    <div class="row">
      <div class="col-md-12">
        <div class="mrgn-50-top text-center"><a href="javascript:void(0)" class="btn btn-main-ghost see-more" role="button">See more speakers</a></div>
      </div>
    </div>
    <!-- /.Speaker CTA Button -->
  </div>
  <!-- /.container -->
</section>
--}}
